<div tabIndex=0 class="index" style="background-image: url(assets/images/lineup.jpg)">
        <span class="timer">:{{time}}</span>
      
        <table class="faces">
          <tbody>
            {{mugshot-row row=0 class="face-top" game=game}}
            {{mugshot-row row=1 class="face-mid" game=game}}
            {{mugshot-row row=2 class="face-bot" game=game}}
          </tbody>
        </table>
        
        {{game-over game=game}}
        
      </div>