<div tabindex="0" class="splash-component">
    <img src="assets/images/mm.png">
    <p>Realign the faces to win!</p>
    <p>Game controls: use WASD or arrows, Up/Down changes the strip, Left/Right rotates the reel</p>
    <p>Press enter to start</p>
    <div>
        <span>Difficulty:</span>
        <ul>
            <li class="{{if easy 'difficulty diff-selected' 'difficulty'}}">Easy</li>
            <li class="{{if medium 'difficulty diff-selected' 'difficulty'}}">Normal</li>
            <li class="{{if hard 'difficulty diff-selected' 'difficulty'}}">Hard</li>
        </ul>
    </div>
    <div class='title-mugshot-imploder'>
        <div class='title-mugshot-bouncer'>
            <img class='title-mugshot' src="assets/images/mugshot.png">
        </div>
    </div>
    <div class='title-mixup-imploder'>
        <div class='title-mixup-bouncer'>
            <img class='title-mixup' src="assets/images/mixup.png">
        </div>
    </div>
</div>
   
