<tr class={{class}}>
    {{mug-shot row=row col=lastIndex game=game class="row-start"}}
    {{mug-shot row=row col=0 game=game}}
    {{mug-shot row=row col=1 game=game}}
    {{mug-shot row=row col=2 game=game}}
    {{mug-shot row=row col=3 game=game class="row-end"}}
</tr>
