<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mugshot Mixup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/mugshot-mixup.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    <div class="background"></div>
    <div class="loading-spinner"></div>

    {{content-for "body"}}

    {{content-for 'js_ex'}}
    {{content-for 'grand-central'}}
    <script src="assets/vendor.js"></script>
    <script src="assets/mugshot-mixup.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
