<div>
{{#if game.over}}
    {{#if game.won}}
        <img class='win' src='assets/images/win.png'>
    {{else}}
        <img class='lose' src='assets/images/lose.png'>
    {{/if}}
    <p class='play-again'>Play again? y/n</p>
{{/if}}
</div>